.color-info{border-style: solid;
border-radius: 3px;
margin: 10px}

#about_blue{background-color: #6495ED}

#about_yellow{background-color: #FFEBCD}

#about_blue ul{color: blue}

#about_yellow ul{color: orange}

.important {font-size: 16px;
font-weight: bold}

.nav a{color:white;
  background-color: red}
